
/* Global tags */
h1, h2, h3, h4, h5, h6, p, a, li { color: white; font-family: Raleway; font-size: 15px;font-weight: 400;}
.white	{color: white;}
.black	{color: black;}
.black2 {color: rgb(45, 45, 45);}
.grey {color: grey;}
.red{color: red;}
.paddingbottom40 {padding-bottom: 40px;}
.textcenter {text-align: center;}
.uppercase {text-transform: uppercase;}
.font25 {font-size: 25px; font-family: Playfair Display;}
.font15 {font-size: 15px;}
.
.clearfix{  
	content: "";
  	display: table;
  	clear: both;
  	width: 100%;
 }


/* header */
.headers {display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;}
.logo { width: 125px; margin-left: 10px; margin-bottom: 10px;}
.cart { order: 1; display:flex; position: relative;}
.cartlogo {width: 50px; margin-right: 10px;}
#counter{-webkit-appearance: none; position: absolute; background-color: red; top:25px; left:35px; width: 20px; height:20px; border-radius:25px; color: white; text-align: center; border:none; outline: none; display: none;  }

.headertext	{flex-basis: 600px; 
			display: flex; 
			align-items: center;
			justify-content: space-around; 
			order:2; 
			border-top-style: solid; 
			border-top-color:rgb(191,191,191); 
			margin-top: 2px; 
			padding-top:10px; 
			border-top-width: 1px;
		    margin-left: 10px;
		    margin-right: 10px;
		    padding: 10px; 
			    }

.headertext p {font-size: 12px; }

/*section for banner*/

.banner {
	min-height: 40vh;
	max-width: 100%;
	background: linear-gradient(rgba(0,0,0,0.2) 100%,transparent), url("/Users/nareshakkarapaka/Documents/Red Academy/project-01b/assets/images/banner-girl.png") center bottom no-repeat, url("/Users/nareshakkarapaka/Documents/Red Academy/project-01b/assets/images/flower-bkgd.jpg");
	background-size: cover, auto 90%, cover;
	background-image: no-repeat, no-repeat, no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex:wrap;

}
.bannertext	{width: 80%;}
.text1 {font-size: 12.5px;  
		text-transform: uppercase;
	    font-weight: 500;}

.text2 {font-size: 30px;
		font-family: Playfair Display;
		font-weight: 500;}


/*section for about*/
.about {
	padding-top: 30px;
	padding-bottom: 40px;
	width: 100%
}

.about h3{ padding: 20px;}
.style2 {font-size: 25px;
	font-family: Playfair Display, serif; 
	font-style: italic;
	padding-bottom: 30px; 
	padding-top: 30px;}
.style2 span {
	font-weight: 700; 
	font-style: normal;
}
.about p {font-size: 15px; padding-left:5%; padding-right:5%;}

/* section fo categories*/

.catergories { 
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex; position: relative; justify-content: center; align-items: center;
}
.marginright {margin-right: 5px;}
.catergories div {-ms-flex: auto;flex: auto; 
  display: flex; 
   margin-bottom: 5px; margin-right: 5px;justify-content: center; align-items: center;}
.catergories p {-webkit-appearance: none; position: absolute; font-size:20px;}
.catergories div {background: linear-gradient(rgba(0,0,0,0.6) 100%,transparent);
	background-size: cover; position: relative;}
.catergories div:nth-of-type(3n) {margin-right: 0;}
.catergories div:nth-of-type(5n) {margin-right: 0;}
.catergories div:nth-of-type(1) {margin-right: 0;}

.width300  {width: 80vw;}
.width150	{width: 40vw;}
.men, .women {width: 100%; height: auto;}
.trends,.glasses,.sale,.bags {width: 100%; height:auto;}

/*section for products*/
.owl-carousel img {width: 100%;}
.owl-carousel h4 {color: red;}
.owl-carousel p {color:grey; margin: 20px;}
.owl-carousel button { background-color: black; color: white; border-radius: 15px; border-style: none; border:none;outline:none; padding-top: 5px; padding-bottom: 5px; padding-left: 15px;	padding-right: 15px; margin-bottom: 40px; }
/*section for signup*/

.text3 {line-height: 200%; padding: 2%; padding-bottom: 30%;}

.signup p {font-size: 13px;}
.signup	{ 	
	background: linear-gradient(rgba(0,0,0,0.2) 100%, transparent), url("/Users/nareshakkarapaka/Documents/Red Academy/project-01b/assets/images/wave-bkgd.jpg");
	background-repeat: no-repeat; 
 	background-position: right bottom;
 	padding-top: 50px;
 	max-width: 100%;
 	position: relative;
}

.form { 
	position: absolute;
  	bottom: 10%;
  	left: 50%;
 	transform: translate(-50%, -50%);
	display: flex;
	background: white; 	
	width: 250px; 
	border-radius: 25px; 
	padding: 5px; 
	padding-left: 15px;
    justify-content: space-between;  align-items: center;
}
.email, .submit	{ 
	border:none; 
	outline:none;
	border-radius: 15px;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

}
.email { 	
	width: 70%; 
	
}
.submit {
	-webkit-appearance: none;
	padding-right: 15px; padding-left: 15px;
	background-color: rgb(193, 66, 52); 
	color:white;
}
/* footer */
.footer{ 
	background-color: rgb(37, 37, 38); margin-top: 5px;
	text-align: center; padding-top: 20px; padding-bottom:70px;
}
.info { padding-top: 10px; 
	
}
.phone {
	line-height: 300%
}
.social { padding: 10px; display: flex; justify-content: center; align-items: center;}
.social	ul { list-style-type: none; }
.social a {text-decoration: none;}
.social i {width: 20px; padding: 10px;}
.social	span { display: none; font-weight: lighter; }



@media only screen and (min-width: 600px) {
/* header */
.headers{ margin: 10px; margin-bottom: 20px; }
.logo { width: 150px;}
.cart {width: 47px; margin-right: 15px; order: 2;}
.headertext	{ flex-basis: 300px; order: 1; border-top-style: none; padding-left: 0px; margin-left: 0px;padding-right: 20px;}
.headertext p {font-size: 15px; }
/*section for banner*/
.banner { min-height: 60vh;
		background-size: cover, auto 90%, contain;}
.text1 {font-size: 19px;}
.text2 {font-size: 60px;}
/*section for about*/
.style2 {font-size: 40px;}
.about p {font-size: 25px; padding-left:10%; padding-right:10%;}
/* section for categories*/

.catergories div { 
   margin-bottom: 5px; margin-right: 5px;}
.catergories div:nth-of-type(3n) {margin-right: 0;}
.catergories div:nth-of-type(1) {margin-right: 5px;}
.catergories div:nth-of-type(5) {margin-right: 5px;}

.width300  {width: 45.12vw;}
.width150	{width: 20vw; }

/*section for products*/

/*section for signup*/

.signup p { font-size: 20px;}
.text3 {text-align: center; padding-left:10%; padding-right:10%; padding-bottom: 10%;}
.form {width: 400px; }
.email, .submit {font-size: 20px;}
/* footer */

.footer {display: flex; justify-content: space-between; align-items: center; padding-left: 20px; padding-right: 20px;}
.social	{ margin-right: 0px; display:block; }
.social a {display: flex; line-height: 200%; 
	padding-right: 60px;}
.social	span { display: block; font-weight: lighter; }


.social a {
	
 }

#google{
    padding-right: 8px;
    padding-left: 13px;
	padding-top: 8px}
}


@media only screen and (min-width: 1050px) {
/* header */

.logo { 
	width: 200px;
	margin-left: 20px;		
}
.cart {
	width: 70px;
	margin-right: 40px;
}
.headertext	{flex-basis: 350px;}
/*section for banner*/
.banner {min-height: 80vh;}
.text1 { 
    font-size: 25px;    
}
.text2 {
	font-size: 80px;		
}
/*section for About*/
.about h3{ padding: 40px; }
.style2 { font-size: 40px;}
.about p { padding-left:15%; padding-right:15%;}
/*section for Products*/


/*section for signup*/

.signup p {font-size: 20px;}
.form {  	
	width: 500px; 
	
}
.email, .submit {font-size: 20px;}
/* footer */


